.paragraph{
    height: 300px;
    width: 100%;
    border-radius: 10px;
    padding: 20px 20px 15px 15px;
    color: #ffffff;
}

.p_1{
    background-image: url("/imgs/blue.jpg");
}

.p_2{
    background-image: url("/imgs/leaves.jpg");
}

.p_3{
    background-image: url("/imgs/pink.jpg");
    color: #000000;
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
    .paragraph{
        width: 50%;
    }
}

@media only screen and (min-width: 1025px){
    .paragraph{
        width: 29.8%;
        float: left;
    }
}